designsystem-boite {
    display: block;
    color: white;

    .header {
        background-color: darkred;
        margin: 0;
        padding: 10px;
    }

    .content {
        background-color: cadetblue;
        margin: 0;
        padding: 10px;
    }
}
