<h1>Boite</h1>
<designsystem-boite>
    <div slot="header">
        <div class="header">
            <h1>Titre</h1>
        </div>
    </div>
    <div slot="content">
        <div class="content">
            contenu
        </div>
    </div>
</designsystem-boite>

