@{
    ViewBag.Title = "Home Page";
}

<h1>Design system</h1>

<ul>
    <li>@Html.ActionLink("DatePicker", "DatePicker", "Home")</li>
    <li>@Html.ActionLink("Dropdown", "Dropdown", "Home")</li>
    <li>@Html.ActionLink("Button", "Button", "Home")</li>
    <li>@Html.ActionLink("Boite", "Boite", "Home")</li>
</ul>